@import url(//db.onlinewebfonts.com/c/9ae5e19516bc6428f1327ff3311b2617?family=DINNextW01-Light);
@font-face {font-family: "DIN-Light"; src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot"); src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff") format("woff"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.svg#DINNextW01-Light") format("svg"); }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#testid {
 /* border-style: dashed;
border-color: pink;
*/
max-width: 70%;
padding: 2rem;
margin-top: 4rem;
}

.col {

  padding: 5rem;

}
#newsfeedid {
  max-width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 0rem;
  /* border-style: dashed;
  border-color: rgb(67, 207, 12);
  */
  margin-top: 1rem;
}

.profilePage {
  padding-left: 30%;
  padding-right:30%;
  font-family: DIN-Light;
}

.square {
  position: relative;
  background-image: url("https://tomaszjanickiphoto.co.uk/wp-content/gallery/scotland/DSC_8286.jpg");
  text-indent: 0px;
  color: white;
  width: 1050px;
  height: 200px;
}

.square > span {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 25px;

}

hr.solid2 {
  border-top: 2px solid #bbb;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submitbutton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.submitbutton:hover {
  background-color: #45a049;
}


.form-entry, .submitbutton {
    width: 100%;
    margin-top: 0;
  }

.row-label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.row-field {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.form-entry:after {
  content: "";
  display: table;
  clear: both;
}

.userImage {
  border-radius: 50%;
  border: solid white 2px;
}

.userImage:hover {
  content: url("https://cdn1.iconfinder.com/data/icons/smallicons-controls/32/614322-up-512.png");
}

.deletebutton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.deletebutton:hover {
  background-color: #c74720;
}
@media screen and (max-width: 1000px) {
  .square {
    width:100%;
    background-image: url("https://33k11k42p4gm11zrza2bhe9n-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/Small-Groups-Website-Banner-background-Bars.png");
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-size: contain;
    background-position: center;

  }

  .profilePage {
    padding: 20px;
    font-family: DIN-Light;
  }

  .row-label, .row-field, .submitbutton {
      width: 100%;
      margin-top: 0;
    }
  .h3 {
    text-indent: 20px;
  }
  .square > span {
    position: relative;
    left: 1%;
    top:40%;
    font-size: 25px;
  }

}
