@import url(//db.onlinewebfonts.com/c/9ae5e19516bc6428f1327ff3311b2617?family=DINNextW01-Light);
.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    top: 0;
    left: 0;
    border-bottom: 4px solid rgb(0,0,0);
    font-family: DINNextW01-Light;
    z-index: 50;
}

.spacer{
    flex:1;
}

.navbarItems ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-right: 20vw;
}

.navbarItems li {
    padding: 0 2rem;
    font-size: 1.5rem;
}

.navbarItems a{
    color: black;
    text-decoration: none;
}

.navbarItems a:hover {
    color: gray;
    text-decoration: none;
}

.navbarContent{
    display: flex;
    align-items: center;
    height:100%;
}

.navbarLogo a {
    color: black;
    text-decoration: none;
    font-size: 3rem;
    padding-left: 20vw;
}

.navbarLogo{
    margin-left: 2rem;
}
.dropbtn {
    color: black;
    border: none;
    font-size: 1.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (max-width: 1000px) {
    .navbarItems ul {
        display:none;
    }

    .navbarLogo a {
        padding-left: 35vw;
    }
}

@media screen and (max-width: 812px) {
    .navbarItems ul {
        display: none;
    }

    .navbarLogo a {
        padding-left: 15vw;
    }
}